<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1628771065518-0d82f1938462?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <div class="banner-container">
        <h1>Welcome to Triblo's National Provider Identifier Search</h1>
        <p>Enter NPI here to find more information</p>
        <%= simple_form_for(@provider) do |f| %>
          <%= f.input :npi %>
          <%= f.submit %>
        <% end %>
    </div>
</div>
<div class="text-center border-bottom">
    <h3>National Provider Info</h3>
</div>
<div class="card-container">
<table class="table">
<thead>
  <tr>
    <th scope="col">NPI</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">City</th
    <th scope="col">State</th
    <th scope="col">Zip</th
    <th scope="col">Type</th>
    <th scope="col">Taxonomy Code</th>
    <th scope="col">Taxonomy License</th>
  </tr>
</thead>
<tbody>
  <% @providers.each do |provider| %>
    <tr>
      <th scope="row"><%= provider.number %></th>
      <td><%= provider.name %></td>
      <td><%= provider.address %></td>
      <td><%= provider.city %></td>
      <td><%= provider.state %></td>
      <td><%= provider.zip %></td>
      <td><%= provider.type %></td>
      <td><%= provider.taxonomy_code %></td>
      <td><%= provider.taxonomy_license %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>
<div class="footer">
    <h4 class="margin-sm">This site was made with love and haste by Tricia Blosser</h4>
    <ul class="list-inline">
      <li>
        <a href="https://www.linkedin.com/in/tricia-blosser" target="blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/Triblo" target="blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
    </ul>
  </div>




